.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #bababa;
  background: linear-gradient(145deg, rgba(186, 186, 186, 1) 50%, rgba(74, 112, 169, 1) 90%, rgba(87, 116, 161, 1) 100%);
}

.header{
  width : 100%;
  height : 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtualSpace{
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.mainLogo{
  width: 200px;
  height: auto;
}
